* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body {
    margin: 0;
    font-family: Cambria;
    color: #2b2d42;
}

.full-screen-header {
    height: 100vh;
    background-image: url(img/karsten-winegeart-ZiXqi1iSZyI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #edf2f4;
    position:relative;
    background-attachment: fixed;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    padding: 1rem;
}

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* logo */
.logo {
    width: 30px; 
    height: 100%;
    color: #d90429;
}

.logo:hover {
    color: #d90429;
}

.initials {
    font-size: 1.5rem;
    position: absolute;
    left: 50px;
    color: #d90429;
    font-weight: bold;
}

/* Location */

.location-icon {
    width: 40px;
}
/* location */

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    margin-left: 1rem;
    color: #edf2f4;
}

.links:hover {
    color: #d90429;

}

/* Title */

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: #edf2f4;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #edf2f4;
}

/* Button */

 .btn {
     background-color: #d90429;
     color: #edf2f4;
     font-weight: bold;
     border-radius: 100000px;
     padding: .25em 1em;
     text-decoration: none;
     border: none;
     cursor: pointer;
     font-size: inherit;
 }

 .btn:hover,
 .btn:active {
     border: 1px solid #edf2f4;
     color: #edf2f4;
 }

 .location-icon {
     position: absolute;
     bottom: 2rem;
     color: #edf2f4;
 }

 .location {
     position: absolute;
     bottom: 0.5rem;
     font-weight: bold;
 }

 /* ABOUT SECTION */

 .section-about {
     margin: 15px;
     font-size: 1.2rem;
     text-align: justify;

 }

 .about-title {
     font-size: 2.5rem;
     text-align: center;
     color: #2b2d42;
 }


 .about-me-img {
     width: 150px;
     border-radius: 70px;
     float: left;
     margin-right: 20px;
     margin-bottom: 10px;
 }


/* PROGRAM SECTION */

.section {
    margin: 0;
    padding: 20px;
    background-color:#edf2f4;
}

.section-title {
    margin-top: 0.5rem;
    font-size: 2.5rem;
    text-align: center;
    color: #2b2d42;
}

.program-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 450px));
    justify-content: center;
    row-gap: 10px;
    column-gap: 50px;
}

.program-grid-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.program-grid-item img {
    width: 50px;
    margin-right: 1rem;
}

/* PACKAGES */

.section-packages {
    margin: 0;
    padding: 0;
    height: auto;
    background-image: url(img/exercise-weights-iron-dumbbell-with-extra-plates.jpg);
    background-size: cover;
    background-position: center;
}

.section-packages-title {
    font-size: 2.5rem;
    text-align: center;
    color: #edf2f4;
    padding-top: 30px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.plan-box {  /* without this class inside of the parent element col would not be posible 
                to set the width of the box! */
    background-color: #edf2f4;
    border-radius: 5px;
    width: 94%;     
    margin-left: 3%;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #2b2d42;
}

.plan-box div:first-child {
    background-color: #8d99ae;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.plan-box div:last-child {
    background-color: #edf2f4;
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 5rem;
    margin-bottom: 10px;
    font-weight: 100 bold;
    color: #d90429;
}

.plan-price span {
    font-size: 40%;
    font-weight: 300;
    color: #2b2d42;
}

.plan-price-meal {
    font-size: 2rem;
}

.plan-box ul {
    list-style: none;
    font-size: 1.1rem;
}

.plan-box ul li {
    padding: 5px 0;
}

.btn-packages {
    background-color: #2b2d42;
    color: #edf2f4;
    font-weight: bold;
    border-radius: 100000px;
    padding: .25em 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-packages:hover,
.btn-packages:active {
    background-color: #d90429;
}

/* ICONS */

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #d90429;
    font-size: 120%;
    margin-right: 10px;

    /* secrets to align txt to icon */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* FORM SECTION */

.form {
    max-width: 600px;
    margin: 0 auto;

}

.form label {
    color: #d90429;
    font-weight: bold;

}

.form input,
.form textarea {
    width: 100%;
    margin-top: .25rem;
    margin-bottom: .75rem;
    outline: none;
    border: 1px solid #2b2d42;
    border-radius: .3em;
    padding: .5em;
    color: inherit;
    font-family: inherit;
}

.form textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 100px;
}

.form input:focus,
.form textarea:focus {
    border-color: #8d99ae;
}

.btn-container {
    text-align: end;

}
